<div id="modal_info_liv2" class="ui modal basic">
    <div class="ui icon header">
        <i class="asterisk icon blue"></i>
        <br/>
        <div style="font-size: 150%;">
            Bem vindo ao Liv 2.0!
        </div>
        <br/>
    </div>

    <div class="content">
        <div class="custom-text-center">

            Atualizamos a plataforma para sua melhor usabilidade.

            <br/>
            Não se preocupe, possui os mesmo recursos e com maior facilidade de acesso.

            <%#*<br/><br/>%>
            <%#*<div>%>
                <%#*Caso deseje utilizar a área antiga%>

                <%#*<a href="https://www.livpay.com.br/gm" target="_blank">%>
                     <%#*&lt;Clique aqui&gt;%>
                <%#*</a>%>
            <%#*</div>%>


            <br/><br/>
            Qualquer dúvida pode ligar no (42) 3626-2256.
        </div>

        <br/>
        <br/>
        <div class="ui divider fitted"></div>
    </div>

    <div class="actions">
        <div class="custom-center">
            <div class="ui blue button huge inverted icon approve">
                Vamos lá !
<%#*<i class="icon hand point up outline"></i>%>
            </div>
        </div>
    </div>
</div>