<%#*<div class="custom-center-absolute-y custom-width-percent-100">%>
<div style="margin-top: 30px;">

    <div class="ui container">
        <style>
            .custom-body-fullscreen-fixed {
                background: white !important;
            }

            .form input {
                background: #e5e5e5 !important;
                font-weight: 900;
                border: none !important;
            }

            .form input:focus {
                outline: 2px solid #4366A8 !important;
            }

            ::-webkit-input-placeholder, ::placeholder {
                color: #8e8e9f !important;
            }

            .ui.dropdown .menu .item {
                font-size: 18px;
                padding: 15px !important;
            }
        </style>


        <div class="ui grid two column centered stackable custom-width-percent-100">
            <div class="column eigth wide" style="min-width: 320px !important;">
                <div class="custom-segment" style="padding: 60px!important;">
                    <br/>
                    <div class="custom-center custom-font-mali custom-text-bold-900" style="letter-spacing: -4px !important; font-size: 100px;">
                        <span style="color: #333; font-size: 40%;">WhatsApp Simulator</span>
                    </div>

                    <br/><br/>
                    <br/><br/>

                    <%= form_tag("/new_password?token=#{request['token']}", method: 'post', class: 'ui form massive', name: 'form') do %>


                        <div class="field">
                            <div class="field custom-center" style="color: grey; font-size: 16px;">
                                Para criar uma nova senha preencha os campos abaixo
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left icon input">
                                <input
                                    autofocus
                                    name="document"
                                    type="text"
                                    placeholder="Digite seu CPF ou CNPJ"
                                    class="custom-font-ubuntu custom-mask-number-natural"
                                    style="padding-left: 65px !important; height: 62px; font-size: 18px"
                                    maxlength="14"

                                    ng-model="login.document"
                                    ng-required="true"
                                    ng-keyup="input_validation_document_length(form.document, login.document);"
                                    />

                                <i class="icon address card outline"></i>
                            </div>

                            <div
                                class="custom-center"
                                style="margin-top: -7px !important;"

                                ng-messages="form.document.$error"
                                ng-show="form.document.$invalid && form.document.$dirty">

                                <div class="ui pointing label large orange" ng-message="required">
                                    Esse campo deve ser preenchido.
                                </div>

                                <div class="ui pointing label large orange" ng-message="document_length">
                                    Este campo deve ter 11 dígitos do CPF ou 14 do CNPJ.
                                </div>
                            </div>
                        </div>



                        <div class="field">
                            <div class="ui fitted divider"></div>
                        </div>
                    

                        <div class="field">
                            <div class="ui left icon input">
                                <input
                                    type="password"
                                    name="password"
                                    autocomplete="false"
                                    placeholder="Digite sua Senha"
                                    class="custom-font-ubuntu" 
                                    style="padding-left: 65px !important; height: 62px; font-size: 18px"

                                    ng-model="login.password"
                                    ng-required="true"
                                    ng-disabled="form.document.$invalid"
                                    />

                                <i class="icon lock"></i>
                            </div>

                            <div
                                class="custom-center"
                                style="margin-top: -7px !important;"

                                ng-messages="form.password.$error"
                                ng-show="form.password.$invalid && form.password.$dirty">

                                <div class="ui pointing label large orange" ng-message="required">
                                    Esse campo deve ser preenchido.
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <div class="ui left icon input">
                                <input
                                    type="password"
                                    name="password_confirm"
                                    autocomplete="false"
                                    placeholder="Redigite sua Senha"
                                    class="custom-font-ubuntu" 
                                    style="padding-left: 65px !important; height: 62px; font-size: 18px"

                                    ng-model="login.password_confirm"
                                    ng-required="true"
                                    ng-disabled="form.password.$invalid"
                                    />

                                <i class="lock icon"></i>
                            </div>

                            <div
                                class="custom-center"
                                style="margin-top: -7px !important;"

                                ng-messages="form.password_confirm.$error"
                                ng-show="form.password_confirm.$invalid && form.password_confirm.$dirty">

                                <div class="ui pointing label large orange" ng-message="required">
                                    Esse campo deve ser preenchido.
                                </div>
                            </div>
                        </div>



                        <div class="field">

                            <button
                                type="submit"
                                class="ui button blue fluid massive custom-font-ubuntu"
                                style="font-size: 16px; height: 62px; background: #28ad00;"
                                ng-disabled="form.$invalid">

                                CONFIRMAR
                            </button>
                        </div>

                        <div class="field">
                            <div class="ui fitted divider"></div>
                        </div>

                        <div class="field">
                            <a href="/login" class="field custom-center" style="color: grey; font-size: 14px;">
                                <i class="icon arrow left"></i>
                                Voltar ao Login
                            </a>
                        </div>
                      <% end %>

                  </div>
              </div>
          </div>
      </div>


  </div>