<style>
    html, body {
        font-family: 'Arial', sans-serif !important;
    }

</style>

<div style="letter-spacing: -4px !important; font-size: 50px; font-weight: 900;">
    <span style="color: #D33D39">L</span><span style="color: #FACE3C">i</span><span style="color: #4366A8">v</span>
    <span style="color: #ccc; font-size: 40%;">&nbsp;</span>
</div>

<div>
    Conforme sua solicitação,
    clique no endereço abaixo para criar uma nova senha:
</div>

<div>
    <a href="<%= @params[:url]  %>">
        <%= @params[:url]  %>
    </a>
</div>

<br/>
<br/>