<div class="ui segment very padded basic shadow" style="background: white; border-radius: 8px;">
    
    <%#*<i class="icon qrcode big blue disabled"></i>%>
    
    <i class="material-icons" style="position: absolute; top: 30px; right: 30px; font-size: 500%; color: #206f90;">mobile_friendly</i>

    <div style="font-size: 150%;">
        <div>
            Simulador
        </div>

        <br/>

        <div style="font-size: 100%; font-weight: 600; ">
            Aplicativo
        </div>
    </div>

    <br/>

    <div style="color: grey;">
        Clique aqui para acessar
    </div>

</div>