<div class="ui segment very padded basic shadow" style="background: white; border-radius: 8px;">
    
    <i class="icon qrcode big blue disabled" style="position: absolute; top: 30px; right: 30px; font-size: 350%;"></i>

    <div style="font-size: 150%;">
        <div>
            Total
        </div>

        <br/>

        <div style="font-size: 100%; font-weight: 600; ">
            32 Conversas
        </div>
    </div>

    <br/>

    <div style="color: grey;">
        Sincronizadas no simulador
    </div>

</div>