<div class="ui segment very padded basic shadow custom-pointer" style="background: white !important; border-radius: 8px;"  onclick="$('#modal_balances').modal('show');">

    <div style="font-size: 150%;">
        <div>
            Moeda
        </div>

        <br/>

        <div style="font-size: 150%; font-weight: 600; color: green;">
            $ 0,00
        </div>

        <i class="icon hand point up big custom-center-absolute-y disabled green" style="right: 30px; font-size: 350%;"></i>
    </div>

    <br/>


    <div style="color: grey;">
        Ver todos seus saldos
        <i class="icon hand point up outline"></i>
    </div>

</div>


<%#= render partial: 'online/dashboards/partial/modal_balances' %>