<div class="ui segment very padded basic shadow" style="background: white; border-radius: 8px;">

    <div style="font-size: 150%;">
        <div>
            Cart達o
        </div>

        <br/>

        <div style="font-size: 100%; font-weight: 600; ">
            N達o emitido
        </div>
    </div>

    <br/>

    <div onclick="$('#modal_card_lock_confirm').modal('show');">
        <div 
            class="ui button icon massive circular black custom-center-absolute-y custom-shadow-button" style="right: 30px; background: #999;">
            <i class="card credit icon" style="position: relative; left: -2px;"></i>
        </div>

        <div style="color: grey;">
            Seu cart達o ainda n達o foi emitido
        </div>
    </div>

</div>