<div class="custom-segment shadow">
    <br/><br/>

    <%#*<i class="icon envelope outline custom-center disabled" style="font-size: 40px"></i>%>

    <i class="huge icons custom-center">
        <i class="icon envelope outline disabled"></i>
        <i class="corner clock icon grey"></i>
    </i>

    <div class="custom-center" style="font-weight: 800; padding: 25px 0px; font-size: 200%;">
        Mensagens
    </div>

    <div class="ui divider fitted"></div>

    <br/><br/>

    <div style="padding: 0px 40px; text-align: center;">
        <div class="custom-font-pt-sans" style="color: grey; font-size: 115%;">
            Crie e agende o envio de Mensagens de até 5 passos para os usuários e grupos.
        </div>
    </div>

    <br/><br/>

    <a href="/messages" class="ui button custom-center large icon">
        <%#*Acessar%>
        <i class="hand point up outline icon" style="font-size: 24px; bottom: -2px; position: relative;"></i>
    </a>

    <br/><br/>
</div>