<div class="custom-segment shadow">
    <br/><br/>

    <i class="icon exchange custom-center disabled" style="font-size: 40px"></i>

    <div class="custom-center" style="font-weight: 800; padding: 25px 0px; font-size: 200%;">
        Extrato
    </div>

    <div class="ui divider fitted"></div>
    
    <br/><br/>

    <div style="padding: 0px 40px; text-align: center;">
        <div class="custom-font-pt-sans" style="color: grey; font-size: 115%;">
            Liste e obtenha comprovantes dos créditos, débitos, e agendamentos
            de todos os convênios em uma única tela.
        </div>
    </div>

    <br/><br/>

    <a href="/extract" class="ui button custom-center large custom-button">
        Consultar
    </a>

    <br/><br/>
</div>