<div class="custom-segment shadow">
    <br/><br/>

    <i class="icon bolt custom-center disabled" style="font-size: 40px"></i>
    

    <div class="custom-center" style="font-weight: 800; padding: 25px 0px; font-size: 150%;">
        Recargas e Tranferências
    </div>

    <div class="ui divider fitted"></div>
    
    <br/><br/>

    <div style="padding: 0px 40px; text-align: center;">
        <div class="custom-font-pt-sans" style="color: grey; font-size: 115%;">
            Crie e gerencie pedidos de recargas e 
            transferências de valores baseado nos
            convênio que você possui contrato.
        </div>
    </div>

    <br/><br/>

    <div class="ui button custom-center large custom-button">
        Gerenciar
    </div>

    <br/><br/>
</div>