<div class="custom-segment shadow">
    <br/><br/>

    <i class="icon cloud upload custom-center disabled" style="font-size: 40px"></i>

    <div class="custom-center" style="font-weight: 800; padding: 25px 0px; font-size: 200%;">
        POS Online
    </div>

    <div class="ui divider fitted"></div>
    
    <br/><br/>

    <div style="padding: 0px 40px; text-align: center;">
        <div class="custom-font-pt-sans" style="color: grey; font-size: 115%;">
            Assim como no POS físico (máquininha),
            consulte saldos, desbloqueio cartões e venda online.
        </div>
    </div>

    <br/><br/>

    <a href="/pos" class="ui button custom-center large blue custom-bg-liv-blue custom-button">
        Consultar Saldo | Vender
    </a>

    <br/><br/>
</div>