<div class="custom-segment shadow">
    <br/><br/>

    <i class="icon user custom-center disabled" style="font-size: 40px"></i>
    

    <div class="custom-center" style="font-weight: 800; padding: 25px 0px; font-size: 200%;">
        Meus Dados
    </div>

    <div class="ui divider fitted"></div>
    
    <br/><br/>

    <div style="padding: 0px 40px; text-align: center;">
        <div class="custom-font-pt-sans" style="color: grey; font-size: 115%;">
            Atualize seus dados cadastrando seu contato e endereço. 
            Altere sua senha de acesso.
        </div>
    </div>

    <br/><br/>

    <a href="/profile" class="ui button custom-center large custom-button">
        Gerenciar
    </a>

    <br/><br/>
</div>