<div id="global-loader-jquery" class="ui active inverted dimmer" style="position: fixed;">
    <div class="ui text loader custom-font-pt-sans large" style="color: black;">
        <b>Aguarde...</b>
    </div>
</div>

<div id="global-loader-angular" class="ui active inverted dimmer" style="position: fixed;" ng-show="globals.loading">
    <div class="ui text loader custom-font-pt-sans large" style="color: black;">
        <b>Aguarde...</b>
    </div>
</div>