<style>
    .column {
        margin: 0px !important;
        padding: 0px !important;
    }

    .container-1 {
        background: #333;
        height: 100%;
        margin: 0px !important;
        font-size: 15px;
        
        <%#*font-family: "Roboto" !important;%>
        <%#*font-family: "Poppins" !important;%>
        <%#*font-family: "PT Sans" !important;%>
        font-family: "Source Sans Pro" !important;
        <%#*font-family: 'Lato', sans-serif;%>
    }

    .column-1 {
        background: white;
    }

    .header-column {
        font-size: 150%;
        font-weight: bold;
        padding: 40px 35px;
        position: relative;
        <%#*border-bottom: 1px dashed #ddd;%>
        
        background: #f9f9f9;
    }

    .menu-column {
        right: 30px;
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
    }


    .research {
        padding: 20px;
        padding-left: 75px;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    .research .title {
        font-size: 110%;
        font-weight: bold;
    }
    .research .text {
        color: grey;
        font-size: 95%;
        margin-top: 3px;
    }
    .research .material-icons {
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
        color: #2185d0;

        left: 20px;
        font-size: 38px;
    }
    .research .content {
        margin-top: 3px;
    }
</style>

<div class="ui grid two columns stackable container-1">
    <div class="column column-1 five wide">

        <div class="header-column">
            Pesquisas

            <div class="menu-column">
                <i class="icon bars"></i>
            </div>
        </div>

        <div class="research">
            <i class="material-icons">public</i>

            <div class="content">
                <div class="title">
                    Pesquisa 01
                </div>

                <div class="text">
                    Lucian Ribas: Isso é fundamental!
                </div>
            </div>
        </div>

        <div class="research">
            <i class="material-icons">public</i>

            <div class="content">
                <div class="title">
                    Pesquisa 02
                </div>

                <div class="text">
                    Alexandre: Preciso de uma coca mano...
                </div>
            </div>
        </div>

    </div>

    <div class="column">

    </div>
</div>