<!DOCTYPE html>
<html>
    <head>
        <title>WhatsApp Simulator</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>

    <body>
        <%= yield %>
    </body>
</html>
