<div class="menu-research">
    <div class="dropdown large">
        <div class="dropdown-title">
            <i class="material-icons">menu</i>
        </div>

        <div class="left horizontal menu">
            <div class="item icon bold" onclick="$('#modal-statistic').modal('show')">
                <i class="material-icons">bar_chart</i>
                <b>Dados da Pesquisa</b>
            </div>

            <div class="item icon bold">
                <i class="material-icons">public</i>
                <b>Tornar Pública</b>
            </div>

            <div class="item icon bold">
                <i class="material-icons">lock</i>
                <b>Tornar Privada</b>
            </div>

            <div class="item icon bold">
                <i class="material-icons">edit</i>
                <b>Renomear</b>
            </div>

            <div class="item icon bold">
                <i class="material-icons">close</i>
                <b>Deletar Pesquisa</b>
            </div>
        </div>
    </div>
</div>
