<div class="dropdown custom-center-absolute-xy large" style="left: 37px;">
    <div class="dropdown-title">
        <i class="icon bars grey"></i>
    </div>

    <div class="top center horizontal menu" style="display: none !important;">
        <a href="#" class="item icon bold">
            <i class="material-icons">question_answer</i>
            <b>Auto Mensagens</b>
            <small>
                &nbsp;
                <b>Chatbot</b>
            </small>
        </a>

        <a href="#" class="item icon bold">
            <i class="material-icons">assignment</i>
            <b>Questionário</b>
        </a>

        <a href="#" class="item icon bold">
            <i class="material-icons">mic</i>
            <b>Áudio</b>
        </a>

        <a href="#" class="item icon bold">
            <i class="material-icons">videocam</i>
            <b>Vídeo</b>
        </a>

        <a href="#" class="item icon bold">
            <i class="material-icons">image</i>
            <b>Figura</b>
        </a>
    </div>
</div>