<div class="dropdown float-right large" style="margin-left: 20px;">
    <div class="dropdown-title">
        <i class="icon bars"></i>
    </div>

    <div class="left horizontal menu" style="display: none !important;" onclick="$('#modal-statistic').modal('show')">
        <div class="item icon bold">
            <i class="material-icons">bar_chart</i>
            <b>Dados Interativos</b>
        </div>
    </div>
</div>