<div class="dropdown large" style="position: absolute; top: 0px; right: 0px;">
    <div class="dropdown-title">
        <i class="icon angle down" style="color: #999;"></i>
    </div>

    <div class="left horizontal menu" style="display: none !important;">
        <div class="item icon bold">
            <i class="material-icons">share</i>
            <b>Compartilhar</b>
        </div>

        <div class="item icon bold">
            <i class="material-icons">star</i>
            <b>Favoritar</b>
        </div>

        <div class="item icon bold">
            <i class="material-icons">delete</i>
            <b>Remover</b>
        </div>

        <div class="item icon bold" onclick="$('#modal-message').modal('show')">
            <i class="material-icons">bar_chart</i>
            <b>Dados da Mensagem</b>
        </div>
    </div>
</div>