<div class="ui segment basic clearing" style="margin: 0px !important; padding: 0px !important;">
    <div class="research" style="border-bottom: 0px !important;">
        <i class="material-icons research-icon" style="color: grey;">question_answer</i>

        <div class="content">
            <div class="title">
                Avaliação de Satisfação (4)
            </div>

            <div class="text">
                4 respostas pendentes
            </div>
        </div>
    </div>
</div>