<div class="ui segment basic clearing" style="margin: 0px !important; padding: 0px !important;">
    <div class="research" style="width: 50%; float: left; margin: 0px;">
        <i class="material-icons research-icon" style="color: green;">mobile_friendly</i>

        <div class="content">
            <div class="title">
                32
            </div>

            <div class="text">
                Dispositivos
            </div>
        </div>
    </div>

    <div class="research" style="width: 50%; float: left;  margin: 0px;">
        <i class="material-icons research-icon" style="color: grey;">message</i>

        <div class="content">
            <div class="title">
                987
            </div>

            <div class="text">
                Respostas
            </div>
        </div>
    </div>
</div>